@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
    <div class="text-center">
    <h1 class="display-4">HR Application</h1>
    <h3>To go to <a asp-action="Employees">employess click here</a></h3>
        <h3>View  <a asp-action="AllEmployees">All Employess</a></h3>

</div>
</body>
</html>

